@page
@model DebtManagement.Pages.DebitCtrl.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div style="margin-top: 20px; margin-left: 25px;">
    <form method="post">
        <input type="text" asp-for="SearchText" value="@Model.SearchText" placeholder="Search by name or phone"/>
        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>

<div class="card-list m-4 d-flex flex-row gap-3">
    @foreach (var item in Model.Debits)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Name: @Html.DisplayFor(modelItem => item.DebtorName)</h5>
                <h6 class="card-subtitle mb-2 text-muted">Phone number: @Html.DisplayFor(modelItem => item.DebtorPhone)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <a class="btn btn-primary" asp-page="/DebitCtrl/Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>
