@page
@model DebtManagement.Pages.DebitDetailCtrl.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="m-4">
    <h4>DebitDetail</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDetail.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitDetail.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDetail.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitDetail.IsPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDetail.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitDetail.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDetail.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitDetail.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitDetail.Description)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.DebitDetail?.Id">Edit</a>
    </div>
</div>

