@page
@model DebtManagement.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h1>Change password</h1>

<div>
    <form method="post">
        <table>
            <tr>
                <td>Current password</td>
                <td>
                    <input type="password" asp-for="CurrentPassword" value="@Model.CurrentPassword"/>
                </td>
            </tr>
            <tr>
                <td>New password</td>
                <td>
                    <input type="password" asp-for="NewPassword" value="@Model.NewPassword"/>
                </td>
            </tr>
            <tr>
                <td>Retype new password</td>
                <td>
                    <input type="password" asp-for="RetypeNewPassword" value="@Model.RetypeNewPassword"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @if (Model.Message.Contains("success"))
                    {
                        <p style="color: green">@Model.Message</p>
                    }
                    else
                    {
                        <p style="color: red">@Model.Message</p>
                    }
                </td>
            </tr>
        </table>
    </form>
</div>
